.weatherHeader {
  font-size: 40px;
  position: absolute;
  top: 10%;
  left: 52%;
  width: 62%;
  color:  #68af96;
}

.today {
  position: absolute;
  right: 3%;
  top: 11%;
}
.todayIcons > .todayIcon {
  color: gray;
  size: 100px;
  
}
.todayTemp {
  font-size: 40px;
}
.currentWeather {
  
  width: 400px;
  height: 300px;
  position: absolute;
  left: 30%;
  top: 20%;
  color: black;
}

.timeWeather {
  
  width: 200px;
  height: 300px;
  position: absolute;
  left: 79%;
  top: 20%;
  color: black;
}

.dailyWeather {
  background:white;
  color: black;
  position: absolute;
  left: 30%;
  bottom: 10%;
  display: flex; 
  width: 900px;
  height: 150px;
  border-radius: 10px;
  align-items: center;
}
.dailyWeather > li {
  padding-right: 50px;
  margin-left: 50px;
  
  align-items: center;
};
